# Xojo
Builds*
*.debug
*.debug.app
Debug*.exe
Debug*/Debug*.exe
Debug*/Debug*\ Libs
*.rbuistate
*.xojo_uistate
*.obsolete*

# Dependencies
node_modules/

# OS
.DS_Store

# Tools
.superpowers/
.remember/
Docs/Start Building Custom Controls Using Xojo's WebSDK.mp4
